.user-home-wrapper {
  padding: 2rem;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.project-card {
  background: #f9f9f9;
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.08);
}

.logout-button{
  position: fixed;
  top: 10px;
  right: 10px;
  background: rgb(222, 107, 107);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}